<form id="regForm" action="">
    <div class="form-container-vertical">
      <!-- One "tab" for each step in the form: -->
      <div class="tab">
        <p>
            <label for="E-Mail-Adresse" title>E-Mail-Adresse</label>
            <input placeholder="E-Mail-Adresse" name="E-Mail-Adresse" oninput="this.className = ''" type="email" required>
        </p>
        <p>
          <label for="Vorname" title>Vorname</label>
          <input placeholder="Vorname" name="Vorname" oninput="this.className = ''">
        </p>
        <p>
          <label for="Nachname" title>Nachname</label>
          <input placeholder="Nachname" name="Nachname" oninput="this.className = ''">
        </p>
        <p>
          <label for="gender" title>Geschlecht</label>
          <select placeholder="Geschlecht" name="gender" oninput="this.className = ''">
            <option selected hidden value="">  </option>
            <option value="männlich">männlich</option>
            <option value="weiblich">weiblich</option>
            <option value="sonstige">sonstige</option>
            <option value="divers">divers</option>
          </select>
        </p>
        <div class="container-row">
          <input placeholder='datenschutz' type="checkbox" id="datenschutz" value=true required oninput="this.className = ''">
          <label for="datenschutz">
            <p>
              Ja, Ich möchte den kostenlosen Newsletter der IKK BB abonnieren, mit dem ich regelmäßig über aktuelle Gesundheitshemen und besondere Angebote informiert werde. Ich bin damit einverstanden, dass meine E-Mail-Nutzung und Interaktion zum Zweck der Verbesserung des Kundenservices (sog. Einzelnutzertracking) erfasst, gespeichert und ausgewertet wird. Meine personenbezogenen Daten werden nur für den Zweck des E-Mail-Versands an unseren E-Mail-Dienstleister weitergegeben. Die Datenschutzerklärung habe ich aufmerksam gelesen. Ich kann meine Einwilligung zum Einzelnutzertracking sowie zum Newsletterversand widerrufen. Jeder Newsletter enthält einen Abmeldelink. Alle Angaben sind freiwillig und können jederzeit widerrufen werden, schriftlich, telefonisch oder per E-Mail an marketing@ikkbb.de.
            </p>
            </label>
        </div>
      </div>
  
      <div class="tab">
        <p>
          <label for="geschenk" title>Geschenk</label>
          <select placeholder="Geschenk" name="geschenk" oninput="this.className = ''">
            <option selected hidden value="">  </option>
            <option value="Leckere, gesunde Rezepte">Leckere, gesunde Rezepte</option>
            <option value="Kikkis spannendes Brettspiel">Kikkis spannendes Brettspiel</option>
            <option value="Poster: Fit im Homeoffice">Poster: Fit im Homeoffice</option>
          </select>
        </p>
        <p>
          <label for="wohnsituation" title>Mein Wohnsituation</label>
          <select placeholder="Wohnsituation" name="wohnsituation">
            <option selected hidden value="">  </option>
            <option value="Ich lebe allein">Ich lebe allein</option>
            <option value="Partnerschaft mit Kinder">Partnerschaft mit Kinder</option>
            <option value="Partnerschaft ohne Kinder">Partnerschaft ohne Kinder</option>
            <option value="Wir leben zu Zweit">Wir leben zu Zweit</option>
            <option value="Sonstige">Sonstige</option>
          </select>
        </p>
        <p>
          <label for="versichert" >Sind Sie bereits bei der IKK BB versichert?
          <input type="radio" name="versichert" id="yes" placeholder="versichert" value='Ja' oninput="this.className = ''">Ja
          <input type="radio" name="versichert" id="no" placeholder="versichert" value='Nein' oninput="this.className = ''">Nein
        </p>
        <p>
          <input class="PLZ" placeholder="Postleitzahl" oninput="this.className = ''">
        </p>
        <p style="display:flex;flex-direction: column;"">
          Ich interessiere mich für:
          <div>
            <input type="checkbox" placeholder="Interesse_Sport" id="Interesse_Sport">Sport & Bewegung</option>
          </div>
          <div>  
            <input type="checkbox" placeholder="Interesse_Ernaehrung" id="Interesse_Ernaehrung">Essen & Trinken</option>
          </div>
          <div>  
            <input type="checkbox" placeholder="Interesse_Psyche" id="Interesse_Psyche">Mentale Gesundheit</option>
          </div>
          <div>  
            <input type="checkbox" placeholder="Interesse_Koerper" id="Interesse_Koerper">Körperliche Gesundheit</option>
          </div>
          <div>  
            <input type="checkbox" placeholder="Interesse_Familie" id="Interesse_Familie">Familie & Kinder</option>
          </div>
            <input type="checkbox" placeholder="Interesse_Land" id="Interesse_Land">Stadt & Land</option>
        </p>
      </div>
  
      <div style="overflow:auto;">
          <button type="button" id="submitBtn" onclick="nextPrev(1)">BESTELLEN</button>
      </div>
  
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align:center;margin-top:40px;display:none;">
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </div>
  </form>
  
  <style>
    /* Style the form */
    #regForm {
      background-color: #ffffff;
      /* margin: 100px auto; */
      padding: 40px;
      width: 640px;
      min-width: 300px;
      margin-top: 0em;
    }
    
    #regform a {
      color: #e58998!important;
    }
  
    .form-container-vertical h2 {
      color: #006eb7;
      font-family: "Proxima Nova Extra Bold", sans-serif, Helvetica, Arial;
      font-size: 1rem;
      font-weight: 300;
      letter-spacing: -.0275rem;
      line-height: 1.25;
      margin: 0 0 .3125rem 0;
      padding: 0;
      text-align: left;
    }
  
    .form-container-vertical p {
      font-family: "Proxima Nova Regular", sans-serif, Helvetica, Arial;
      color: #1d1d1b;
      font-weight: 300;
    }
    
    div legend {
        border-bottom: none;
        margin: 1.25rem 0;
        color: #acacac;
    }
  
    legend {
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        line-height: inherit;
        white-space: normal;
    }
  
    button:hover, button:active {
        background-color: #575757;
        color: #ffffff;
    }
  
    button, button:visited {
        cursor: pointer;
        background-color: #e58998;
        color: #ffffff;
        font-size: 0.625rem;
        font-weight: 600;
        height: 45px;
        min-width: 225px;
        margin: 0 auto;
        margin-bottom: 10px;
        margin-right: 10px;
        padding-left: 18px;
        padding-right: 18px;
        align-items: center;
        display: inline-flex;
        justify-content: center;
        font-family: "Proxima Nova Semi Bold", sans-serif, Helvetica, Arial;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .1875rem;
        line-height: 1;
        padding: .625rem 1.75rem;
        text-align: center;
        text-transform: uppercase;
        transition: background-color .3s,border-color .3s;
        user-select: none;
        vertical-align: middle;
        border: none;
    }
  
    /* Style the input fields */
  
    select {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: "Proxima Nova", sans-serif, Helvetica, Arial;
      border: 1px solid #aaaaaa;
    }
  
    select.invalid {
      background-color: #EBCCD1;
    }
  
    input {
      padding: 10px;
      width: 100%;
      font-size: 17px;
      font-family: "Proxima Nova", sans-serif, Helvetica, Arial;
      border: 1px solid #aaaaaa;
    }
  
    /* Mark input boxes that gets an error on validation: */
    input.invalid {
      appearance: none;
      border: 1px solid;
      background-color: #EBCCD1;
      color: #A94442;
    }
  
    input[type=submit] {
        background-color: #FFC0CB;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
  
    .plz-ort-row {
      display: flex;
      justify-content: space-between;
    }
  
    label {
      display: inline-flex;
      align-items: center;
      font-size: 1rem;
    }
  
    label p {
      margin-top: 0;
  
    }
  
    input[type="radio"] {
      margin-right: 10px;
      width: 20px;
    }
    
    .container-row {
        display: flex;
    }

    input[type="checkbox"] {
      height: 15px;
      width: 15px;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0;
      margin-right: 0.9375rem;
    }
  
    input[type="checkbox"]:checked {
      background-color: #04AA6D;
    }
  
    /* Hide all steps by default: */
    .tab {
      display: none;
    }
  
    /* Make circles that indicate the steps of the form: */
    .step {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbbbbb;
      border: none;
      border-radius: 50%;
      display: inline-block;
      opacity: 0.5;
    }
  
    /* Mark the active step: */
    .step.active {
      opacity: 1;
    }
  
    /* Mark the steps that are finished and valid: */
    .step.finish {
      background-color: #04AA6D;
    }
  </style>
  
  
  <script>
  var currentTab = 0; // Current tab is the first tab (0)
  var submitCount = 0;
  showTab(currentTab); // Display current tab    
  
  
  
  function displaySuccessMessage() {
    document.querySelector(".form-container-vertical").innerHTML = `
    <h1>Vielen Dank</h1>
      <p>
      </br></br>
      Bitte überprüfen Sie ihren Posteingang und klicken Sie in der Mail auf den „Jetzt bestätigen!" Button oder den Link.
      </p>`;
  }    
  
  function showTab(n) {
    // This function will display the specified tab of the form
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("submitBtn").innerHTML = "WEITER";
    } else {
      document.getElementById("submitBtn").innerHTML = "BESTELLEN";
      document.getElementById("prevBtn").style.display = "inline";
    }
    fixStepIndicator(n)
  }
  
  function nextPrev(n) {
      // This function will figure out which tab to display
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      if (n == 1 && !validateForm()) return false;
      if (n == 1 && validateForm()) submitForm();
      // Hide the current tab:
      x[currentTab].style.display = "none";
      // Increase the current tab by 1:
      currentTab = currentTab + n;
      // IF in case you have reached the end of the form... :
      if (currentTab >= x.length) {
        //...the form ends and it's replaced with success message
        displaySuccessMessage();
        return false; // stop function from showing the tab again
      }
      // Otherwise, display the correct tab:
      showTab(currentTab);
    }
  
  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].querySelectorAll("[required]");
  
    for (i = 0; i < y.length; i++) {
      if (y[i].value == "" && !y[i].reportValidity()) {
        y[i].className += " invalid";
        valid = false;
      }
    }
    
    if (!document.getElementById("datenschutz").checked ) {
      document.getElementById("datenschutz").reportValidity();
      return false; // Prevents form submission
    }

    if (currentTab == 1 && !document.getElementById("yes").checked && !document.getElementById("no").checked ) {
      document.getElementById("yes").reportValidity();
      document.getElementById("no").reportValidity();
      console.log("Gotcha");
      return false; // Prevents form submission
    }
  
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }
  
  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class to the current step:
    x[n].className += " active";
  }
  
  function submitForm() {
    const formData = {};
  
    const tabs = document.getElementsByClassName("tab");
  
    // Iterate through each tab and collect input values
    for (let i = 0; i < tabs.length; i++) {
      const inputs = tabs[i].querySelectorAll("input, select");
  
      // Iterate through each input and create a key-value pair in formData
      for (let j = 0; j < inputs.length; j++) {
        const inputName = inputs[j].getAttribute("placeholder");
        // Ensure `inputName` is valid before using it
        if (!inputName) {
          continue; // Skip inputs without placeholders
        }
        formData[inputName] = inputs[j].value;
      }
    }
  
    // Validation
    if (!validateForm() ) {
      console.log('Validation failed.');
      return false; // Prevents form submission
    }
    // formData and input values are validated

    // API Request to Lambda Function
    console.log("Submitting form data:", formData); 
    // Convert the formData object to JSON and format for Maileon
  
    userEmail = formData["E-Mail-Adresse*"]
  
    maileonData = {
      "custom_fields": {
        "Datenschutz": formData['datenschutz'],
        "versichert":  Array.from(document.querySelectorAll('[required]'))
                    .filter(radio => radio.checked)[0].value
                      },
      "standard_fields": {
        "userEmail":   formData["E-Mail-Adresse*"],
        "FIRSTNAME":   formData["Vorname"],
        "LASTNAME":    formData["Nachname"],
        "PLZ":         formData['Postleitzahl'],
        "Geschlecht":  formData["Geschlecht"]
                        }
    };

    if (currentTab==1) {
      maileonData["custom_fields"] = {
          "Interesse_Sport":      (document.getElementById('Interesse_Sport').checked ? 'true' : ''),
          "Interesse_Ernaehrung": (document.getElementById('Interesse_Ernaehrung').checked ? 'true' : ''),
          "Interesse_Psyche":     (document.getElementById('Interesse_Psyche').checked ? 'true' : ''),
          "Interesse_Koerper":    (document.getElementById('Interesse_Koerper').checked ? 'true' : ''),
          "Interesse_Familie":    (document.getElementById('Interesse_Familie').checked ? 'true' : ''),
          "Interesse_Land":       (document.getElementById('Interesse_Land').checked ? 'true' : '')
        }
    };
    console.log(maileonData);
    //(TO-DO: Ideally send the data straight to Maileon, requires a safe environment for the api key.)
    const url = ''
    fetch(url, {
      method: 'POST',
      body: JSON.stringify(maileonData),
    })
      .then(response => response.json())
      .then(data => console.log(data))
      .catch(error => console.error(error));
  }
  
  submitCount += 1;  
  
  if (submitCount >= 2) {
    //form ends and it's replaced with success message
    displaySuccessMessage();
  }
  </script>
  