<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&family=Sigmar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="wrapper">
      <span>W</span>
      <span>U</span>
      <span>T</span>
      <span>D</span>
      <span>U</span>
      <span>F</span>
      <span>U</span>
      <span>Q</span>
      <span>.</span>
      <span>X</span>
      <span>Y</span>
      <span>Z</span>  
    </div>
  </body>
</html>

