<form id="regForm" action="">
  <fieldset>
    <legend>Ihre Angaben zur Bestellung des Schwangerschaftstagebuchs</legend>

    <!-- One "tab" for each step in the form: -->
    <div class="tab">
      <p>
        <select placeholder="Geschlecht*" name="gender" oninput="this.className = ''" required>
          <option selected hidden value="">Geschlecht wählen</option>
          <option value="männlich">männlich</option>
          <option value="weiblich">weiblich</option>
          <option value="divers">divers</option>
        </select>
      </p>
      <p><input placeholder="Vorname*" oninput="this.className = ''" required></p>
      <p><input placeholder="Nachname*" oninput="this.className = ''" required></p>
      <p><input type="email" placeholder="E-Mail-Adresse*" oninput="this.className = ''" required></p>
      <p>
        <label for="versichert?" >Sind Sie bereits bei der IKKBB versichert?*
        <input type="radio" name="versichert?" id="yes" placeholder="versichert?" value='Ja' required>Ja
        <input type="radio" name="versichert?" id="no" placeholder="versichert?" value='Nein' required>Nein
      </p>
      <p class="checkbox-container">
        <div class="container-row">
        <input type="checkbox" id="informationen" placeholder="informationen" value="">
        <label for="informationen">
            <p>
              Ich erlaube der IKK BB, meine hier hinterlegten Angaben zu nutzen, um mich über die besonderen Leistungen und Vorteile der IKK BB (z.B. Schwangerschaftsleistungen und Familienleistungen) schriftlich, telefonisch oder per E-Mail zu informieren. Dieses Einverständnis kann jederzeit widerrufen werden, schriftlich, telefonisch oder per E-Mail an service@ikkbb.de.</label>
            </p>
          </div>
        <div class="container-row">
        <input type="checkbox" id="newsletter" placeholder="newsletter" value="">
          <label for="newsletter">
            <p>
              Ich möchte den kostenlosen Newsletter der IKK BB abonnieren, mit dem ich regelmäßig über aktuelle Gesundheitshemen und besondere Angebote informiert werde. Ich bin damit einverstanden, dass meine E-Mail-Nutzung und Interaktion zum Zweck der Verbesserung des Kundenservices (sog. Einzelnutzertracking) erfasst, gespeichert und ausgewertet wird. Meine personenbezogenen Daten werden nur für den Zweck des E-Mail-Versands an unseren E-Mail-Dienstleister weitergegeben. Die Datenschutzerklärung habe ich gelesen. Ich kann meine Einwilligung zum Einzelnutzertracking sowie zum Newsletterversand widerrufen. Jeder Newsletter enthält einen Abmeldelink. Alle Angaben sind freiwillig und können jederzeit widerrufen werden, schriftlich, telefonisch oder per E-Mail an <a href="mailto:marketing@ikkbb.de">marketing@ikkbb.de</a>.
            </p>
            </label>
        </div>
        <div class="container-row">
          <input placeholder='datenschutz' type="checkbox" id="datenschutz" value=true required>
          <label for="datenschutz">
            <p>
              Mit Absenden des Formulars bestätige ich, dass ich die <a href="/datenschutz" target="_blank">Datenschutzerklärung</a> gelesen habe und mit der Verarbeitung meiner Daten einverstanden bin.
            </p>
            </label>
        </div>
      </p>
    </div>

    <div class="tab">Contact Info:
      <p><input placeholder="Telefonnummer" oninput="this.className = ''"></p>
      <p><input placeholder="Straße, Hausnummer*" oninput="this.className = ''" required></p>
      <p><input placeholder="Postleitzahl*" oninput="this.className = ''" required></p>
      <p><input placeholder="Ort*" oninput="this.className = ''" required></p>
      <p>
        <label for="Errechneter Geburtstermin" title>Errechneter Geburtstermin</label>
        <input placeholder="Errechneter Geburtstermin" name="Errechneter Geburtstermin" oninput="this.className = ''" type="date">
      </p>
    </div>

    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        <button type="button" id="submitBtn" onclick="submitForm()">Submit</button>
      </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <!-- <span class="step"></span> -->
      <!-- <span class="step"></span> -->
    </div>
  </fieldset>
</form>
<div class="mandatory-hint">* Pflichtfeld</div>
<div class="encryption-hint">
		Um Ihre übermittelten Daten bestmöglich zu schützen, nutzen wir eine SSL-Verschlüsselung.
</div>
<div class="privacy-hint">
		Bei der Verarbeitung von personenbezogenen Daten beachten wir die Vorschriften der EU-Datenschutz-Grundverordnung. Ausführliche Informationen finden Sie im <a href="/datenschutz" class="privacy-hint__link">Datenschutzbereich unserer Website</a>.
</div>

<style>
  /* Style the form */
  #regForm {
    background-color: #ffffff;
    /* margin: 100px auto; */
    padding: 40px;
    width: 70%;
    min-width: 300px;
    margin-top: 0em;
  }
  
  #regform a {
    color: #e58998!important;
  }
  
  fieldset legend {
      border-bottom: none;
      margin: 1.25rem 0;
      color: #acacac;
  }

  legend {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin-bottom: 0.5rem;
      font-size: 1.5rem;
      line-height: inherit;
      white-space: normal;
  }

  .button:hover, .button:active {
      background-color: #e58998;
      color: #ffffff;
  }

  .button, .button:visited {
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;
      cursor: pointer;
      background-color: #575757;
      color: #ffffff;
      font-size: 0.625rem;
      font-weight: 600;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      line-height: 45px;
      letter-spacing: 0.5px;
      height: 45px;
      min-width: 225px;
      margin: 0 auto;
      margin-bottom: 10px;
      margin-right: 10px;
      padding-left: 18px;
      padding-right: 18px;
  }

  /* Style the input fields */

  select {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

  select.invalid {
    background-color: #EBCCD1;

  }

  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #EBCCD1;
    color: #A94442;
  }

  input[type=submit] {
      background-color: #FFC0CB;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

  label {
    display: inline-flex;
    align-items: center;
    font-size: 18px;
  }

  label p {
    margin-top: 0;

  }

  input[type="radio"] {
    margin-right: 10px;
    width: 20px;
  }

  .checkbox-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .container-row {
      display: flex;
  }

  .checkbox-container input {
    margin-right: 10px;
  }

  input[type="checkbox"] {
    height: 10px;
    width: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    margin-right: 0.9375rem;
  }

  input[type="checkbox"]:checked {
    background-color: #04AA6D;
  }

  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #04AA6D;
  }
  
  .encryption-hint {
    margin-top: .75rem;
    padding: .9375rem .9375rem 0 2.5rem;
    position: relative;
  }

  .encryption-hint::before {
    height: 1.25rem;
    width: 1.0625rem;
    background-image: url(/Icons/lock-grey.svg);
    background-size: contain;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    top: 0.9375rem;
}

</style>


<script>
var currentTab = 0; // Current tab is the first tab (0)
showTab(currentTab); // Display current tab
document.getElementById("no").checked = true;
    

function showTab(n) {
  // This function will display the specified tab of the form
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").remove();
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].querySelectorAll("[required]");

  for (i = 0; i < y.length; i++) {
    if (y[i].value == "" && !y[i].reportValidity()) {
      y[i].className += " invalid";
      valid = false;
    }
  }

  if (!document.getElementById("datenschutz").checked ) {
    console.log("Datenschutz required!");
    return false; // Prevents form submission
  }

  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}

function submitForm() {
  const formData = {};

  const tabs = document.getElementsByClassName("tab");

  // Iterate through each tab and collect input values
  for (let i = 0; i < tabs.length; i++) {
    const inputs = tabs[i].querySelectorAll("input, select");

    // Iterate through each input and create a key-value pair in formData
    for (let j = 0; j < inputs.length; j++) {
      const inputName = inputs[j].getAttribute("placeholder");


      // Ensure `inputName` is valid before using it
      if (!inputName) {
        continue; // Skip inputs without placeholders
      }
      formData[inputName] = inputs[j].value;
    }
  }

  // Validation
  if (!validateForm() ) {
    console.log('Validation failed.');
    return false; // Prevents form submission
  }

  // formData and input values are validated
  
  
  // API Request to Lambda Function
  console.log("Submitting form data:", formData); 
  // Convert the formData object to JSON and format for Maileon

  userEmail = formData["E-Mail-Adresse*"]

  maileonData = {
    "custom_fields": {
                      "Ikkbbmember": Array.from(document.querySelectorAll('[required]'))
                                          .filter(radio => radio.checked)[0].value,
                      "Interesse_vorhanden": (document.getElementById('informationen').checked ? 'true' : ''),
                      "Newsletter_Anmeldung": (document.getElementById('newsletter').checked ? 'true' : ''),
                      "Telefonnummer": formData['Telefonnummer'],
                      "Datenschutz": formData['datenschutz'],
                      "Geburtstermin": formData['Errechneter Geburtstermin']
                      },
    "standard_fields": {
                        "userEmail": formData["E-Mail-Adresse*"],
                        "FIRSTNAME": formData["Vorname*"],
                        "LASTNAME": formData["Nachname*"],
                        "Straße": formData['Straße, Hausnummer*'],
                        "Ort": formData['Ort*'],
                        "PLZ": formData['Postleitzahl*'],
                        "Geschlecht": formData["Geschlecht*"]
                      } 
  };
  console.log(maileonData);
  //(TO-DO: Ideally send the data straight to Maileon, requires a safe environment for the api key.)

  const url = 'https://5zi6p73htunuaydxfs3jlgs74y0avmxs.lambda-url.eu-central-1.on.aws/'
  fetch(url, {
    method: 'POST',
    body: JSON.stringify(maileonData),
  })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch(error => console.error(error));
}
</script>
